.heading1{
    text-align: center;
    background-color: grey;
}
.heading2 h1{
    font-size: 26px;
}
.headPara{
    text-align: center;
    background-color: grey;
}
.images img{
    width: 20px;
    height: 100px;
}
.line p{
    font-style: italic;
}
